     body{    
    font-family: 'Roboto Condensed', sans-serif;
    
}

     body{
         background-color: #fb257a;
         background-size: cover;
          background-repeat: no-repeat;
         height: 100vh;
     }   
nav.navbar.bootsnav{
    border: none;
    background: none;
    margin-bottom: 150px;
    margin-top: 40px;
    margin-left: 20px;
}
nav.navbar.bootsnav ul.nav > li{ margin-right: 5px; }
nav.navbar.bootsnav ul.nav > li > a{
    padding: 10px 15px;
    border-radius: 0;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    transition: all 0.5s ease 0s;
}
  
nav.navbar.bootsnav ul.nav > li.dropdown > a{ padding: 10px 30px 10px 15px; }
nav.navbar.bootsnav ul.nav > li.active > a,
nav.navbar.bootsnav ul.nav > li.active > a:hover,
nav.navbar.bootsnav ul.nav > li > a:hover,
nav.navbar.bootsnav ul.nav > li.on > a{
  color: #b71540;
}
 
nav.navbar.bootsnav ul.nav > li > a > span:before,
nav.navbar.bootsnav ul.nav > li > a > span:after{
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
}
   
nav.navbar.bootsnav ul.nav > li > a > span:after{
    width: 50px;
    background-color: #b71540;
}
nav.navbar.bootsnav ul.nav > li:hover > a > span:before,
nav.navbar.bootsnav ul.nav > li.active > a > span:before{
  transform: translateX(-50%) translateY(-50%) rotate(0); 
  opacity: 1;
}
nav.navbar.bootsnav ul.nav > li:hover > a > span:after,
nav.navbar.bootsnav ul.nav > li.active > a > span:after{
  transform: translateX(-50%) translateY(-50%) rotate(0); 
  opacity: 1;
  width: 0;
}
nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0 0 0 7px;
}
nav.navbar.bootsnav ul.nav > li.dropdown > ul{
    top: 100%;
    transition: all 0.8s ease 0s;
}
nav.navbar.bootsnav ul.nav > li.dropdown.on > ul{ top: 140%; }
.dropdown-menu.multi-dropdown{
    position: absolute;
    left: -100% !important;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content li{ font-size: 14px; }
nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 16px;
    font-weight: bold;
    color: #000000 ;
}
@media only screen and (max-width: 990px){
    .dropdown-menu.multi-dropdown{ left: 0 !important; }
    nav.navbar.bootsnav .navbar-toggle{
        background: transparent !important;
        color: #fff;
    }
    nav.navbar.bootsnav ul.nav > li{
        width: 75%;
        margin: 5px auto 15px;
    }
    nav.navbar.bootsnav.navbar-mobile ul.nav > li > a{
        text-align: center;
        color: #fff;
        border: none;
    }
    nav.navbar.bootsnav ul.nav > li.active > a,
    nav.navbar.bootsnav ul.nav > li > a,
    nav.navbar.bootsnav ul.nav > li > a:hover,
    nav.navbar.bootsnav ul.nav > li.on > a{ color: #b71540; }
    nav.navbar.bootsnav.navbar-mobile .navbar-collapse{ background: #b71540; }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a{
        color: #fff;
        border-bottom-color: none;
    }
    nav.navbar.bootsnav ul.nav > li.dropdown > ul{ top: 100%; }
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title,
    nav.navbar.bootsnav.navbar-mobile ul.nav ul.dropdown-menu .col-menu ul.menu-col li a{
        font-size: 14px;
        font-weight: normal;
        color: #fff;
    }
     
     
